################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FtpClientApp/.vs/FtpClientApp/v16
/FtpClientApp/FtpClientApp/obj/Debug/netcoreapp2.1
/FtpClientApp/FtpClientApp/obj
/FtpClientApp/FtpClientAppTest/obj/Debug/netcoreapp2.1
/FtpClientApp/FtpClientAppTest/obj
/FtpClientApp/FtpClientApp/bin/Debug/netcoreapp2.1
/FtpClientApp/FtpClientAppTest/bin/Debug/netcoreapp2.1
/FtpClientApp/.vs/FtpClientApp/DesignTimeBuild
